.body {
   margin-top: 30px;
   height: 390px;
   margin-left: 5%;
   width: 90%;
   align-items: center;
}

.items {
   display: inline;
}

.pText {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #ffffff;
}