.container {
    display: flex;
    color: white;
    justify-content: center;
}

.left {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("/images/login-page.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.right {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    width: 60px;
    height: auto;
    content: url("/images/oak-white-big.png");
}

.projectOakLogo {
    width: 60px;
    height: auto;
    content: url("/images/oak-white-big.png");
}

.title {
    font-size: 72px;
}
  
.subtitle {
    font-size: 24px;
}

.loginTitle {
    font-size: 36px;
}
