.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 1000px;
    background: #222429;
}

.headline{
    display: flex;
    height: 50px;
    width: 100%;
}

.firstline {
    margin-top: 400px;
    height: 30px;
}

.secondline {
    margin-top: 20px;
    height: 70px;
}

.thirdline {
    height: 30px;
    margin-top: 16px;
    margin-left: 29%;
}

.loginpage1 {
    display: inline;
}

.loginpage2 {
    display: none;
}

.login {
    font-size: 38px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    color: #FFFFFF;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.tabs {
    margin-left: 25%;
}

.logout {
    margin-left: 50%;
}

.buttontag {
    position: absolute;
    width: 144px;
    height: 40px;
    left: 1025px;
    top: 531px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}
