
.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 1000px;
    background: #222429;
}

.title {
    margin-left: 15px;
    margin-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    /* identical to box height, or 167% */
  
    color: #FFFFFF;
}

.oak {
    color: #65D36E;;
}

.logo {
    margin-right: 10px;
    content: url("/public/images/oak-white.png");
}

.buttontag {
    position: absolute;
    width: 144px;
    height: 40px;
    left: 1025px;
    top: 531px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}
