.requestBox {
    position: absolute;
    left: 27.78%;
    right: 27.78%;
    margin-top: 10%;
    height: 48px;
    background: #191B1F;
    border-radius: 48px;
    border: none;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 3px;
    margin-left: 2px;
    content: url("/public/images/bnp.png");
}

.name {
    margin-top: 12px;
    margin-left: 5%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
}

.brief {
    margin-top: 12px;
    margin-left: 15%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
}


.date {
    margin-top: 12px;
    margin-left: 15%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #FFFFFF;
}