@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.tab {
   position: absolute;
   width: 373px;
   height: 48px;
   left: 534px;
   top: 18px;
   align-items: center;
   background: #191B1F;
   border-radius: 24px;
  }

  /* Style the buttons inside the tab */
.tab .button {
  width: 122px;
  height: 44px;
  border: none;
  margin-top: 2px;
  margin-left: 2px;
  justify-content: center;
  border-radius: 24px;
}

.tab .button:hover {
  background-color: blue;
}

.buttontext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
/* identical to box height, or 200% */

     text-align: center;
}

