.certificate {
    width: 40px;
    height: 40px;
    margin-top: 60px;
    content: url("/public/images/check-circle.png");
  }
  .text {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    max-width: 350px;
  }
  
  .center {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .empty {
    width: 40px;
    height: 40px;
    margin-top: 60px;
  }
  
  #danger {
    font-size: 35px;
    color: #ffff00;
  }
  
  .button {
    width: 210px;
    padding: 10px;
    background: #65d36e;
    border-radius: 48px;
    border: none;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 530px) {
    .button {
      padding-top: 20px;
      max-width: 90px;
      padding: 10px;
      background: #65d36e;
      border-radius: 48px;
      border: none;
      margin-bottom: 10px;
    }
  }
  
  .button:hover {
    background-color: blue;
  }
  
  .consent {
    font-size: 16px;
    font-weight: 600;
  }
  
  .consentedtextItem {
    margin-top: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #ffffff;
  }
  .checkboxItem {
    margin-left: 50px;
    margin-top: 11px;
    height: 18px;
    min-width: 22px;
    border-color: #ffffff;
    background-color: transparent;
  }
  
  @media screen and (max-width: 768px) {
    .scroll {
      max-height: 80px;
      overflow: hidden;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: #757575;
    }
    .scroll::-webkit-scrollbar {
      width: 12px;
    }
  
    .scroll::-webkit-scrollbar-track {
      background: transparent;
    }
  
    .scroll::-webkit-scrollbar-thumb {
      background-color: #757575;
    }
  }
  
  @media screen and (min-width: 769px) {
    .scroll {
      max-height: 150px;
      scrollbar-color: #757575;
      overflow: hidden;
      overflow-y: hidden;
    }
  }
  
  
