.main1 {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.main2 {
    display: none;
}

.box {
    width: 30%;
    height: 824px;
    margin-top: 120px;
    margin-left: 35%;
    background: #2C2C2C;
    border-radius: 24px;
}

.certificate {
    margin-left: 45%;
    width: 40px;
    height: 40px;
    margin-top: 320px;
    content: url("/public/images/check-circle.png");
}

.text {
    width: min(80%, 500px);
    padding-left: 12%;
    margin-top: 20px;
    overflow-wrap: break-word;font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.text2 {
    margin-top: 10px;
    overflow-wrap: break-word;
    height: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    /* identical to box height, or 125% */

    color: #757575;
}
.text3 {
margin-bottom: 100px;
    width: 462px;
    height: 20px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    color: #757575;
}


.button {
    width: max(60%, 250px);
    height: 46px;
    margin-top: 10%;
    margin-left: 20%;

    background: #5CBC64;
    border-radius: 24px;
    border: none;
}

.button:hover {
    background-color: blue;
}

.buttontext {
    height: 20px;
    margin-left: 10%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    overflow-wrap: break-word;
    /* identical to box height, or 125% */
    text-align: center;
    color: #1A1A1A;
}
.form{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-left: 15%;
    justify-content: center;
    width: 56%;
    /* identical to box height, or 250% */
    text-align: center;
    border: 2px solid #595959;
border-radius: 10px;

    
    /* shades of gray / 80 */
    
    color: #595959;
}