
.headline1 {
    display: flex;
    height: 50px;
    width: 100%;
}

.headline2 {
    display: none;
    height: 50px;
    width: 100%;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.logout {
    margin-left: 75%;
}

.buttontag {
    position: absolute;
    width: 144px;
    height: 40px;
    left: 1025px;
    top: 531px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    /* identical to box height, or 200% */

    text-align: center;

    color: #FFFFFF;
}
