.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    width: 100%;
    height: 1000px;
    background: #222429;
}

.header{
    display: flex;
    height: 50px;
    width: 100%;
    min-height: 80px;
}

.body{
    margin-top: 50px;
    display: inline;
    width: 40%;
    min-width: 480px;
    /* height: 70%; */
    min-width: 580px;
}

.footer{
    width: 60%;
}

.logo {
    margin-left: 20px;
    margin-top: 20px;
}

.logoname {
    position: absolute;
    top: 0px;
    right: 10px
}

.button {
    width: 40%;
    height: 52px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background: #65D36E;
    border-radius: 48px;
    border: none;
}

.button .buttontext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* identical to box height, or 200% */

    color: #000;
}

.showtext1{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.notshowtext1{
    display: none;
}

.word1 {
    width: 100%;
    height: 35px;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    color: #ACACAC;
}

.word2 {
    width: 100%;
    height: 35px;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;;
}

.text5 {
    text-align: center;   
    margin-top: 20%;
    color: #808080;
}

.shownothing {
    display: none;
}