.requestBoxDisplay {
    display: inline;
}

.requestBoxDisappear {
    display: none;
}

.box {
    margin-top: 70px;
    width: 100%;
    height: 680px;
}

.list {
    margin: 20px;
  }
  
.item {
    border-radius: 25px;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}

@media screen and ( max-width: 1045) {
   .box {
    margin-top: 300px;
    margin-left: 22%;
    width: max(40%, 300px);
    height: 780px;
 } 
}
