.main {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    font-size: 24px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
}


.App {
    background-color: #222429;
}