.checkboxItem {
    margin-left: 10px;
    margin-top: 11px;
    height: 18px;
    min-width: 22px;
    border-color: #ffffff;
    background-color: transparent;
}

.check {
    display: flex;
    flex-direction: row;
}
