.line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: 'center';
}

.button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  vertical-align: middle;
  background-color: #65d36e;
  border-radius: 48px;
  border: none;
  padding: 16px 24px;
}

.button .buttonText {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* identical to box height, or 200% */

  color: #000;
}