.button {
    width: 40%;
    height: 52px;
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background: #65D36E;
    border-radius: 48px;
    border: none;
}

.button:hover {
    background-color: blue;
}

.button .buttontext {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* identical to box height, or 200% */

    color: #FFFFFF;
}

.how {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration-line: underline;
    text-align: center;
    color: #FFFFFF;
}