.headline{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.logo1 {
    position: absolute;
    left: 51%;
    top: 20px;
}

.logo2 {
    position: absolute;
    left: 20px;
    top: 20px;
}

.langContiner1 {
    position: absolute;
    right: 200px;
    top: 25px;
}

.langContiner2 {
    position: absolute;
    right: 20px;
    top: 25px;
    width: 50px;
    text-align: right;
}

.tabsContiner {
    margin-top: 0px;
    width: 400px;
    height: 50px;
}

.logoutContiner {
    position: absolute;
    top: 25px;
    right: 10px;
    width: 180px;
    height: 30px;
    color: #FFFFFF;
}
