@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.box {
    min-width: 480px;
    /* height: 70%; */
    min-width: 380px;
    height: 177px;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */

    text-align: center;

}

.line1 {
    color: #FFFFFF;
    margin-bottom: 12px;
}

.line2 {
    margin-left: 10%;
    width: 80%;
    color: #ACACAC;;
}

.line3 {
    margin-top: 20px;
    color: #ACACAC;;
}