.tagsContent1 {
    display: inline;
}

.tagsContent1 {
    display: none;
}

.box {
    margin-top: 7%;
    margin-left: 20%;
    width: 60%;
    height: 680px;
}

@media screen and ( max-width: 1045) {
   .box {
    margin-top: 300px;
    margin-left: 22%;
    width: max(40%, 300px);
    height: 680px;
} 
    
}
