.certificate {
    width: 40px;
    height: 40px;
    margin-top: 60px;
    content: url("/public/images/check-circle.png");
}

.text {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  max-width: 350px;
}
.text2 {
  padding-left: 5%;
  margin-top: 10px;
  width: 85%;
  height: 70%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #757575;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.empty {
  width: 40px;
  height: 40px;
  margin-top: 60px;
}

#danger {
  font-size: 35px;
  color: #ffff00;
}

.button {
  width: 210px;
  padding: 10px;
  background: #65d36e;
  border-radius: 48px;
  border: none;
  margin-bottom: 10px;
}

.centerMe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.titlefield {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.field {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 800;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.status {
  margin-left: 5px;
  color: #65d36e;;
  font-size: 18px;
  font-weight: 800;
  padding-top: 0px;
}

.stickyScroll {
  border-radius: 13px;
  background-color: #31343b;
  height: 180px;
  overflow: scroll;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.stickyScrollHigh {
  border-radius: 13px;
  overflow: scroll;
  background: transparent;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 220;
  font-size: 16px;
  line-height: 22px;
  height: 250px;
  overflow: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  content: url("/public/images/check-circle.png");
}

.rows {
  display: inline;
  align-items: center;
}

.row {
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 530px) {
  .button {
    padding-top: 20px;
    max-width: 90px;
    padding: 10px;
    background: #65d36e;
    border-radius: 48px;
    border: none;
    margin-bottom: 10px;
  }
}

.button:hover {
  background-color: blue;
}

.consent {
  font-size: 16px;
  font-weight: 600;
}

.consentedtextItem {
  margin-top: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
}

.stickyScroll {
  border-radius: 13px;
  background-color: #31343b;
  height: 180px;
  overflow: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
  
@media screen and (max-width: 768px) {
  .scroll {
    max-height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #757575;
  }
  .scroll::-webkit-scrollbar {
    width: 12px;
  }

  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #757575;
  }
}
  
@media screen and (min-width: 769px) {
  .scroll {
    max-height: 190px;
    scrollbar-color: #757575;
    overflow: hidden;
    overflow-y: hidden;
  }
}
