.certificate {
    width: 40px;
    height: 40px;
    margin-top: 60px;
    content: url("/public/images/check-circle.png");
}

.text {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
  max-width: 350px;
}
.text2 {
  padding-left: 5%;
  margin-top: 10px;
  width: 85%;
  height: 70%;
  text-align: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #757575;
}

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}
.empty {
  width: 40px;
  height: 40px;
  margin-top: 60px;
}

#danger {
  font-size: 35px;
  color: #ffff00;
}

.button {
  width: 210px;
  padding: 10px;
  background: #65d36e;
  border-radius: 48px;
  border: none;
  margin-bottom: 10px;
}

.centerMe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.titlefield {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 800;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
}

.field {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 800;
  padding-top: 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.status {
  margin-left: 5px;
  color: #65d36e;;
  font-size: 18px;
  font-weight: 800;
  padding-top: 0px;
}

.stickyScroll {
  border-radius: 13px;
  background-color: #31343b;
  height: 180px;
  overflow: scroll;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.stickyScrollHigh {
  border-radius: 13px;
  overflow: scroll;
  background: transparent;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 220;
  font-size: 16px;
  line-height: 22px;
  height: 250px;
  overflow: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.logo {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  content: url("/public/images/check-circle.png");
}

.rows {
  display: inline;
  align-items: center;
}

.row {
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 530px) {
  .button {
    padding-top: 20px;
    max-width: 90px;
    padding: 10px;
    background: #65d36e;
    border-radius: 48px;
    border: none;
    margin-bottom: 10px;
  }
}

.button:hover {
  background-color: blue;
}

.consent {
  font-size: 16px;
  font-weight: 600;
}

.consentedtextItem {
  margin-top: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
}

.stickyScroll {
  border-radius: 13px;
  background-color: #31343b;
  height: 180px;
  overflow: auto;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.fetchColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fecthText {
  margin-bottom: 20px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;

  color: #FFFFFF;
}

.ldsring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #65D36E transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
@media screen and (max-width: 768px) {
  .scroll {
    max-height: 80px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #757575;
  }
  .scroll::-webkit-scrollbar {
    width: 12px;
  }

  .scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .scroll::-webkit-scrollbar-thumb {
    background-color: #757575;
  }
}
  
@media screen and (min-width: 769px) {
  .scroll {
    max-height: 190px;
    scrollbar-color: #757575;
    overflow: hidden;
    overflow-y: hidden;
  }
}

.form {
  display: flex;
  flex-direction: row;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  /* margin-left: 24%; */
  width: 50%;
  text-align: center;
  justify-content: center;
  border: 2px solid #595959;
  border-radius: 10px;
  color: #595959;
  /* text-align: center; */
}

.emailIcon {
  color: white;
  align-items: center;
  justify-content: center;
  margin-top: 13px;

  /* margin-right: 12%; */
}

.inputField {
  border: none;
  color: white;
  background-color: transparent;
  padding: 20px 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 635px) {
  .form {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    /* margin-left: 24%; */
    width: 70%;
    text-align: center;
    justify-content: center;
    border: 2px solid #595959;
    border-radius: 10px;
    color: #595959;
    text-align: center;
  }
}

