.buttongreen {
    width: 220px;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 40px;
    background: #5cbc64;
    border-radius: 24px;
    border: none;
}
  
.buttongreen:hover {
    background-color: blue;
}

.buttontextgreen {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #1a1a1a;
}

.buttondisable {
    width: 220px;
    height: 70%;
    margin-top: 10px;
    margin-bottom: 40px;
    background: transparent;
    border: 1px solid #ACACAC;
    box-sizing: border-box;
    border-radius: 24px;
}
  
.button:hover {
    background-color: blue;
}

.buttontextdisable {
  width: 100%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #ACACAC;
}



.button2{
  background-color: transparent;
  border: none;
}
#exit{
  color: gray;
  font-size: 20px;
}

