.main1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 1000px;
    background: #222429;
}
 
.main2 {
     display: none;
}

.loginpage {
    display: inline;
}

.firstline {
    margin-top: 10%;
    margin-left: 43%;
    text-align: center;
}

.secondline {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: 28px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    /* or 100% */
    text-align: center;
    color: #FFFFFF;

}

.thirdline {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: 80px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* or 100% */
    text-align: center;

    color: #757575;

}

.fourthline {
    width: 50%;
    height: 168px;
    margin-left: 25%;
    margin-top: 10px;

    border: 2px solid #31343B;
    box-sizing: border-box;
    border-radius: 16px;
}

.fourthmain {
    display: inline;
}

.fourthtitle {
    width: 70%;
    height: 50px;
    margin-left: 15%;
    margin-top: 15px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    color: #65D36E;
}

.fourthcontent {
    display: flex;
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-top: 15px;
}

.from {
  display: flex;
  width: 40%;
  height: 50px;
}

.af {
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    content: url("/public/images/af.png");
 }

.fromtext {
    margin-left: 5px;
    margin-top: 14px;
    weight: 60%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.middle {
    width: 20%;
    text-align: center;
}

.shape {
   margin-top: 18px;
   content: url("/public/images/shape.png");
}

.to {
   display: flex;
   width: 40%;
   text-align: center;
}

.bnp {
    margin-left: 10px;
    margin-top: 5px;
    height: 40px;
    content: url("/public/images/bnp.png");
 }

.fifthline {
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    height: 28px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* or 100% */
    text-align: center;
    color: #FFFFFF;
}

.sixline {
    display: flex;
    width: 50%;
    height: 141px;
    margin-left: 25%;
    margin-top: 10px;

    background: #2D43A5;
    border-radius: 16px;
}

.firststep {
    margin-top: 15px;
    width: 33%;
    text-align: center;
}

.one {
    content: url("/public/images/1.png");
}

.content {
    margin-top: 10px;
    margin-left: 10%;
    width: 80%;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}

.secondstep {
    margin-top: 15px;
    width: 33%;
    text-align: center;
}

.two {
    content: url("/public/images/2.png");
}

.thirdstep {
    margin-top: 15px;
    width: 33%;
    text-align: center;
}

.lastline {
    margin-left: 25%;
    width: 50%;
    height: 40px;
}