.box {
    background: #2D43A5;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 0px;
}

.lines {
    height: 177px;
    display: inline;
    align-items: center;
}

.lines .projectOak {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 20px;
}

.lines .space {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 20px;
}

.projectOak .project {
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    color: #FFFFFF;
}

.oak {
    color: #65D36E;;
}

.lines .flow {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    flex-grow: 1;
    height: 32px;
}

.arrowflow {
    display: flex;
    flex: 2;
    justify-content: center;
}

.greenarrow {
    content: url("/public/images/arrow-flow.png");
    width: 90%;
    max-width: 240px;
}

.greyarrow {
    margin-left: 13px;
    margin-right: 13px;
    content: url("/public/images/greyarrow.png");
}

.texts {
    margin-top: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-grow: 1;
    height: 32px;
}

.text {
    display: flex;
    flex: 0.5;
    justify-content: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;

    color: #FFFFFF;
}

.arrowContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.logogrey {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}

.logogrey .number {
    width: 12px;
    height: 27px;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #FFFFFF;
}

.logogreen {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #65D36E;
}

.logogreen .numbergreen {
    width: 12px;
    height: 27px;
    margin-top: 3px;
    margin-left: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;

    color: #2D43A5;

}
