@import url('https://fonts.googleapis.com/css?family=Open+Sans');
  
.logoutItem {   
    width: 180px;
}
  
.logo {
  height: 30px;
  width: 30px;
}

.logoangle {
    height: 18px;
    width: 18px;
    margin-right: 6px;
}

.logolang {
    height: 18px;
    width: 18px;
    margin-right: 4px;
}

.dropdown {
  margin-left: 30px;
  position: absolute;
}

.dropdown .dropbtn {
    margin-left: 3px;
    margin-top: 3px;
    height: 60px;
    background: transparent;
    border: none
}
  
.buttontext {
    font-family: Open Sans;
    color: white;
    margin-right: 10px;
    font-weight: 600;
    font-size: 18px;
}
    
.dropdowncontent {
    display: none;
    position: absolute;
    background-color:#000000;
    padding-bottom: 30px;
    right: 0;
    min-width: 400px;
    box-shadow: 100x 280px 260px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
.dropdownbutton {
    margin-left: 0px;
    display: block;
    min-width: 400px;
    min-height: 60px;
    background-color:#000000;
    border: none;
}

.doprdownbuttontext {
    font-family: Open Sans;
    color: #ACACAC;
    font-weight: 600;
    font-size: 16px;
}
  
.doprdownbuttontext:hover {
    color: white;
}
    
.dropdown:hover .dropdowncontent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #2980B9;
}
