.title {
  display: flex;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  color: #FFFFFF;
  margin-left: 15px;
  margin-top: 0px;
}

.logo1 {
  margin-right: 10px;
  width: 26px;
  height: 40px;
  content: url("/public/images/oak-green.png");
}

.logo2 {
  margin-right: 10px;
  width: 26px;
  height: 40px;
  content: url("/public/images/oak-white.png");
}

.firstline {
  margin-left: 46%;
}

.oak {
  color: #65D36E;;
}
